.schema-table{

    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: .15);

    th,td{

        padding: 12px 15px;

        &.create-button{
            cursor: pointer;
        }

        &:last-of-type{

            min-width: 200px;

            &:not(.create-button){
                display: flex;
                justify-content: flex-end;
            }
        }

    }

    thead{

        tr{
            background-color: #009879;
            color: white;
            text-align: left;
            font-size: bold;

        }

    }

    tbody{

        tr{
            border-bottom: 1px solid #ddd;

            &:nth-of-type(even){
                background-color: #f3f3f3;
            }

            &:last-of-type{
                border-bottom: 2px solid #009879;
            }

        }

    }

}