.roundButton, .round-corner-button {
  height: 60px;
  width: 100%;
  border-width: 0;
  border-style: none;
  background: #1D4859;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 30px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  /* identical to box height */
}

.roundButton:focus, .round-corner-button:focus {
  outline: none;
}

.searchField {
  height: 100%;
  width: 100%;
  border-width: 0;
  border-style: none;
  color: #FFFFFF;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 12px;
  overflow: hidden;
  opacity: 1;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  /* identical to box height */
}

.searchField .search-label {
  position: relative;
  border-radius: 30px;
}

.searchField input {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  border-width: 0;
  border-style: none;
  border-radius: 30px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.searchField:focus {
  outline: none;
}

.searchField .search-icon-container {
  overflow: hidden;
  cursor: pointer;
  padding: 12px 20px 8px 12px;
  background-color: #555;
}

.searchField .search-icon-container .my-svg-search {
  fill: #FFFFFF;
}

.teamMemberName {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 0.2;
  /* identical to box height */
  color: #404040;
}

.team-member-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: 20%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-member-container {
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.teamMemberPosition {
  /* Co-founder */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /* identical to box height */
  color: #404040;
}

.image-container {
  width: 200px;
  overflow: hidden;
  height: 100%;
}

.teamImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

/* Container */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.sidebar-container {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  background-color: #F1F2F7;
}

.site-name {
  color: #1D4859;
  padding: 12px 0 0 12px;
}

.site-name .app-name {
  font-size: 18px;
  padding: 12px 0 0 12px;
}

.left-side {
  padding: 13px 8px 8px;
  font-size: .5rem;
  width: 100%;
  height: 1084px;
  background-color: #1E2532;
  color: #9aa5b6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  position: relative;
}

.container {
  height: 100%;
  width: 361;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.nav {
  background: #ffffff;
  height: 100%;
  z-index: 5;
  overflow: scroll;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.nav.shadow {
  -webkit-box-shadow: 10px 0px 12px -5px rgba(0, 0, 0, 0.41);
          box-shadow: 10px 0px 12px -5px rgba(0, 0, 0, 0.41);
}

.text-field {
  background-color: #f2f2f2;
  padding: 12px;
  border-style: none;
  border-radius: 6px;
  outline: none;
  width: 100%;
  height: 100%;
}

.text-field::-webkit-input-placeholder {
  color: #101010;
  opacity: 0.53;
}

.text-field:-ms-input-placeholder {
  color: #101010;
  opacity: 0.53;
}

.text-field::-ms-input-placeholder {
  color: #101010;
  opacity: 0.53;
}

.text-field::placeholder {
  color: #101010;
  opacity: 0.53;
}

.title-field .title {
  padding: 6px 0;
}

.round-corner-button {
  border-radius: 6px;
}

.content-container {
  background-color: green;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: scroll;
}

.layout-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.overlay-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  z-index: 9;
}

.modal-container .card {
  background-color: aliceblue;
  padding: 24px;
  z-index: 10;
  border-radius: 6px;
}

.modal-container.hide {
  display: none;
}

.ratio-field-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
}

.ratio-field-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.ratio-field-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #2196F3;
  /* Create the indicator (the dot/circle - hidden when not checked) */
}

.ratio-field-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  /* Style the indicator (dot/circle) */
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2196F3;
}

.ratio-field-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.ratio-field-container input:checked ~ .checkmark {
  background-color: #eee;
  /* Show the indicator (dot/circle) when checked */
}

.ratio-field-container input:checked ~ .checkmark:after {
  display: block;
}

.selection-field-container {
  padding: 12px;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.selection-field-container.active {
  color: white;
  background-color: #2196F3;
}

.project-list-container {
  background-color: gray;
}

.project-list-container .project-list-header {
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px;
}

.project-list-container .project-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px;
}

.project-list-container .project-list-item span {
  margin-left: 12px;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6px;
}

.icon-container .icon-image-container img {
  width: 100%;
  height: 100%;
}

.icon-container span {
  padding-top: 6px;
}

.icon-container.active .icon-image-container {
  background-color: green;
}

.icon-container.active span {
  color: blue;
}

.schema-table {
  border-collapse: collapse;
  margin: 25px 0px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.schema-table th, .schema-table td {
  padding: 12px 15px;
}

.schema-table th.create-button, .schema-table td.create-button {
  cursor: pointer;
}

.schema-table th:last-of-type, .schema-table td:last-of-type {
  min-width: 200px;
}

.schema-table th:last-of-type:not(.create-button), .schema-table td:last-of-type:not(.create-button) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.schema-table thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
  font-size: bold;
}

.schema-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.schema-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.schema-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* Column */
.column {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  width: 33.33333%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 900px) {
  .column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=Components.css.map */